{% extends "base_template.html" %}

{% block content %}

 <section id="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center site-heading">
                    <h2 class="section-heading">login & date</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6 text-center box">
                    <form method="post" action=".">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username }}

                        </div>
                        <div class="form-group">
                            {{ form.password }}

                        </div>
                        <button class="btn btn-xl pull-left" type="submit">register</button>
                        <button class="btn btn-xl facebook-blue pull-right center" id="facebook-btn-2"><a href="{% url "social:begin" "facebook" %}">f&nbsp;login</a></button>
                        <p>Not member? <a href="{% url 'register' %}">Register!</a></p>
                    </form>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
 </section>
{% endblock %}